<%= link_to "Switch to List View", appointments_path(:search => params[:search]) %>

<% start_date = params.fetch(:start_date, Date.today).to_date %>
<% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>

<% appointments_in_this_month = @appointments.select{ |app| ( date_range.include?(app.start_time.to_date) && app.period).blank?} %>

<% appointment_days = [] %>
<% appointments_in_this_month.each do |app| appointment_days.push(app.start_time.to_date) end%>
<% weekly = @appointments.select{ |app| app.period == 7} %>
<% monthly = @appointments.select{ |app| app.period == 30} %>
<% yearly = @appointments.select{ |app| app.period == 365} %>
<% monthly.each do |app|  %>
<%  appointments_in_this_month.push(app) %>
<%  app_start_date = app.start_time.to_date %>
<%  appointment_days.push(Date.new(start_date.year, start_date.mon, app_start_date.mday).to_date) %>
<% end %>

<% weekly.each do |app| %>
  <% first_day = start_date.beginning_of_month.beginning_of_week %>
  <%  app_start_date = app.start_time.to_date %>
  <% current_day = first_day.next_day(app_start_date.cwday - 1) %>
  <%  date_range.length/7.times do |i| %>
    <% appointments_in_this_month.push(app) %>
    <% appointment_days.push(current_day) %>
    <% current_day = current_day.next_day(7)%>
  <%  end   %>
<%  end %>

<% yearly.each do |app| %>
  <% if date_range.include?(Date.new(start_date.year, app.start_time.to_date.mon, app.start_time.to_date.mday).to_date) %>
    <% appointments_in_this_month.push(app) %>
    <% appointment_days.push(Date.new(start_date.year, app.start_time.to_date.mon, app.start_time.to_date.mday).to_date) %>
  <% end %>
<% end %>


<%  %>



<div class="month" id="cal">      
  <ul>
    <li class="prev" ><%= link_to "<", start_date: (date_range.first - 1.day).beginning_of_month, search:params[:search] %></li>
    <li class="next"><%= link_to ">", start_date: (date_range.last + 1.day).beginning_of_month, search:params[:search] %></li>
    <li>
      <%= start_date.strftime("%B")%>
      <span style="font-size:18px"><%= start_date.year %></span>
    </li>
  </ul>
</div>




<table class = "calendar">
  <tr class = "weekdays2">
    <td>Mon</td>
    <td>Tue</td>
    <td>Wed</td>
    <td>Thu</td>
    <td>Fri</td>
    <td>Sat</td>
    <td>Sun</td>
  </tr>
  <% date_range.each_slice(7) do |week| %>
    <tr class= "days2">
      <% week.each do |day| %>
        <% str = day.day.to_s%>
        <td>
          <ul id="inside_day">             
              <% if day == start_date %>
                <li><span class="active"><%= str %></span></li>
              <% else %>
                <li><%= link_to  day.day.to_s, new_appointment_path(:year => day.year, :month => day.mon, :day => day.mday) %> </li>
              <% end %>
              <% for i in 0...appointment_days.length do %>
                  <% if appointment_days[i] == day %>
                    <li><%= link_to appointments_in_this_month[i].name.to_s, appointments_in_this_month[i] %><li>
                 <% end %> 
              <% end %>
          </ul>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>