<% year = params.fetch(:year, Date.today.year) %>
<% month = params.fetch(:month, Date.today.mon) %>
<% day = params.fetch(:day, Date.today.mday) %>

<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, selected: Time.new(year.to_i, month.to_i, day.to_i).in_time_zone("Istanbul").to_date %>
  </div>



  <div class="field">
    <%= form.label :period %>
    <%= form.text_field :period %>
  </div>
<!-- <%= form.hidden_field:user_name, :value => 'nisa' %> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
