
<%= link_to "Switch to List View", appointments_path(:search => params[:search]) %>


<%= form_tag appointments_calendar_path, :method => 'get', :id => "appointments_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="calendar"><%= render 'calendar' %></div>


<%= link_to 'New Appointment', new_appointment_path %>