<p id="notice"><%= notice %></p>

<h1>Appointments</h1>



<%= form_tag appointments_path, :method => 'get', :id => "appointments_search" do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>

  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<div id="appointments"><%= render 'list'%></div>
 


<%= link_to 'New Appointment', new_appointment_path %>
